
# /
/.classpath
/.project
/.settings
/build
/.gradle
/node_modules
/bower_components
/nbproject
/nbbuild
/dist
/nbdist
/nbactions.xml
/nb-configuration.xml
/.DS_Store
/._*
/Thumbs.db
/Desktop.ini
/*.tmlanguage.cache
/*.tmPreferences.cache
/*.stTheme.cache
/*.sublime-workspace
/*.sublime-project
/sftp-config.json
/*.iml
/*.ipr
/*.iws
/.idea
/.idea_modules
/atlassian-ide-plugin.xml
/out/
/unused_tags.txt
/src/main/resources/logback_*.xml
/*.log
/*API_Test*
/docker/*.bak
/docker/ApiDockerConfig*.tar.bz2
/docker/*.war
/CucumberThread*.xml
/CucumberThread*.txt
/MergedReport.xml
/CucumberThread*.html
/hs_err_pid*.log
/packages
/classes
/keystore
**/.DS_Store
