<profile>
    <browserstack>
        <accessToken>token</accessToken>
        <username>user</username>
    </browserstack>
    <settings>
		<desiredCapabilities enabled="true" group="Edge">
			<capability name="platform" value="WINDOWS"/>
			<capability name="browserName" value="edge"/>
        </desiredCapabilities>
    </settings>
    <urlMappings>
        <featureGroup name="Google">
            <urlMapping>
                <url name="default">https://google.com</url>
            </urlMapping>
        </featureGroup>
    </urlMappings>
</profile>
